<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="fr"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="fr"><!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>Module de grille</title>
	<link rel="stylesheet" href="css/tests/css/grid.css">
</head>
<body>
<div class="page-grid">
	<h3>Module de Grille</h3>
	<p>Le syst&egrave;me de grille est compos&eacute; lignes divis&eacute; en 12 colonnes.</p>

	<h4>Grille complette</h4>

	<section class="pattern">
		<div class="row">
			<div class="twelve columns"><p class="panel">full 12</p></div>
		</div>
		<div class="row">
			<div class="one columns"><p class="panel">une</p></div>
			<div class="eleven columns"><p class="panel">onze</p></div>
		</div>
		<div class="row">
			<div class="two columns"><p class="panel">deux</p></div>
			<div class="ten columns"><p class="panel">dix</p></div>
		</div>
		<div class="row">
			<div class="three columns"><p class="panel">trois</p></div>
			<div class="nine columns"><p class="panel">neuf</p></div>
		</div>
		<div class="row">
			<div class="four columns"><p class="panel">quatre</p></div>
			<div class="eight columns"><p class="panel">huit</p></div>
		</div>
		<div class="row">
			<div class="five columns"><p class="panel">cinq</p></div>
			<div class="seven columns"><p class="panel">septs</p></div>
		</div>
		<div class="row">
			<div class="six columns"><p class="panel">six</p></div>
			<div class="six columns"><p class="panel">six</p></div>
		</div>
		<div class="row">
			<div class="three columns"><p class="panel">trois</p></div>
			<div class="three columns"><p class="panel">trois</p></div>
			<div class="three columns"><p class="panel">trois</p></div>
			<div class="three columns"><p class="panel">trois</p></div>
		</div>
		<div class="row">
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
			<div class="one columns"><p class="panel">un</p></div>
		</div>
	</section>
</div>
</body>
</html>