<!DOCTYPE html>
<!--[if lt IE 7]><html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html lang="fr" class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]><html lang="fr" class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="iso-8859-15">
	<title></title>
	<link rel="stylesheet" href="css/tests/css/grid-block.css">
</head>
<body>
<div class="page-grid-block">
	<div class="row">
		<div class="seven columns">
			<h4>Grille complette</h4>
			<ul class="grid-block">
				<li class=""><p style="background-color: #eee;">case</p></li>
				<li class=""><p style="background-color: #eee;">case</p></li>
				<li class=""><p style="background-color: #eee;">case</p></li>
				<li class=""><p style="background-color: #eee;">case</p></li>
			</ul>
		</div>
		<div class="five columns">
			<h4>Code HTML</h4>
			<pre class="htmlCode"></pre>
		</div>
	</div>
</div>
</body>
</html>