<!DOCTYPE html>
<!--[if lt IE 7]><html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html lang="fr" class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]><html lang="fr" class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="iso-8859-15">
	<title></title>
	<link rel="stylesheet" href="css/tests/css/tabs.css"/>
</head>
<body>
<div class="page-tabs">
	<div class="tabs" data-section>
		<section class="tab">
			<p class="title" data-section-title><a href="#panel1">Exemple</a></p>
			<div class="content" data-section-content>
				<p>Contenu panel 1</p>
				<h1>Titre de niveau 1 &mdash; h1</h1>
			</div>
		</section>
		<section class="tab">
			<p class="title" data-section-title><a href="#panel2">Html</a></p>
			<div class="content" data-section-content>
				<p>Contenu panel 2</p>
				<pre class="htmlCode">&lt;h1&gt;Titre de niveau 1 &mdash; h1&lt;/h1&gt;</pre>
			</div>
		</section>
	</div>
</div>
<script type="text/javascript" src="/js/vendor/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="/js/vendor/foundation/foundation.js"></script>
<script type="text/javascript" src="/js/vendor/foundation/foundation.section.js"></script>
<script type="text/javascript">
	$(document).foundation();
</script>
</body>
</html>