
// ==   Module de navigation
// ==   @TODO: Tester compatibilite navigateur
// ==          Mettre une coche pour indiquer les sous elements (ex: triangle)
// ========================================================================== //

@import "respond";
@import "compass/css3/images";

@mixin init-nav(){
	nav {
		@include clearfix;
		a {
			display: block;
			padding: 0 10px 0 20px;
			color: #fdfdfd;
			text-shadow: 0px 1px 0px rgba(0,0,0, 0.35);
			text-decoration: none;
			line-height: 2em;
			@include box-shadow(inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.1));
			@include transition(padding-left, 0.4s, ease-in-out);
			@include transform(translateZ(0), true);
			&:hover, &:focus {
				text-decoration: none;
				@extend .primary-dark-plus-bg;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				&> a { @extend .primary-dark-bg; }
				ul li a {
					padding-left: 30px;
					@extend .primary-bg;
				}
			}
		}		 
	}

	.active { max-height: 100%; }
	
	.small-screen nav > a { @extend .primary-dark-plus-bg; }

	@include respondTo(smallscreen) {
		nav {
			overflow: hidden;
			> a {
				text-align: right;
				&::after { content: " \25BC"; }
			}
			ul {
				max-height: 0;
				li {
					a:hover {
						padding-left: 40px;
					}
					&> ul {
						max-height: 0;
						overflow: hidden;
					}
				}
			}
		}
	}
	
	@include respondTo(moresmallscreen) {
		nav {
			width: 90%;
			margin: 1em auto;
	 		ul {
	 			li {
					position: relative;
	 				float: left;
	 				a {
	 					display: block;
	 					padding: 0 2em;
	 					border-left:1px solid rgba(255,255,255,0.2);
	 					@include box-shadow(inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.1));
	 				}
	 				&:hover {
	 					& > ul {
	 						top: 2em;
	 					}
	 				}
		 			ul {
		 				position: absolute;
		 				left: 0;
						top: -9999em;
		 				z-index: 10;
		 				li {
							 float: none;
							 a {
								 white-space: nowrap;
							}
							 &:hover {
								 & > ul {
									 left: 9em;
									 top: 0;
								 }
							 }
							 ul {
								 position: absolute;
								 left: -9999em;
								 top: 0;
								 z-index: 20;
							 }
		 				}
		 			}
	 			}
	 		}
	 		&> a { display: none; }
	 	}
	}
}