@charset "UTF-8";

$panel-padding: 0.5em 1.2em !default;
$panel-margin: 1em 0 !default;
$third-color-light-ultra: red !default;

@mixin panel($color:false) {
	.panel {
		padding: $panel-padding;
		margin: $panel-margin;

		@if $color {
			background-color: $color;
		}

		&.form {
			@extend .third-bg-light-ultra;
		}
	}
}

@mixin init-panel() {
	@include panel();
}

.page-grid {
	@include panel($third-color-light-ultra);
}