@charset "ISO-8859-15";

$panel-padding: 0.5em 1.2em !default;
$panel-margin: 1em 0 !default;

@mixin corps-panel() {
	padding: $panel-padding;
	margin: $panel-margin;
}

@mixin panel() {
	.panel {
		@include corps-panel;
	}
}

@mixin panel-form() {
	.panel-form {
		@include corps-panel;
		// See : utils
		@extend .third-bg-light-ultra;
	}
}

@mixin init-panel() {
	@include panel();
	@include panel-form();
}
	