@charset "UTF-8";

$panel-padding: 0.5em 1.2em !default;
$panel-margin: 1em 0 !default;

@mixin corps-panel() {

}

@mixin panel() {
	.panel {
		padding: $panel-padding;
		margin: $panel-margin;
		&.form {
			@extend .third-bg-light-ultra;
		}
	}
}

@mixin init-panel() {
	@include panel();
}
	