@charset "ISO-8859-15";

@mixin tabs(){
	.tabs {
		display: block;
		position:relative;
		margin-bottom: 1.25em;
		//border: 1px solid #cccccc;
		> .tab {
			border:0;
			position: static;
			&:last-child .title {
				border-right: solid 1px #cccccc;
			}
			> .title {
				background-color: #efefef;
				cursor: pointer;
				margin-bottom: 0;
				width: auto;
				border: solid 1px #cccccc;
				border-right: 0;
				border-bottom: 0;
				position: absolute;
				top: 0;
				z-index: 1;
				a {
					padding:0 0.9375em;
					display: inline-block;
					color: #333333;
					font-size: 0.875em;
					white-space: nowrap;
					width: 100%;
				}
				&:hover {
					background-color: #e2e2e2;
				}
			}
			.content {
				display: none;
				padding: 0.9375em;
				background-color: white;
				margin:0;
				border: solid 1px #cccccc;
				position: absolute;
				z-index: 10;
				display: none;
				top: -1px;
				> *:last-child { margin-bottom: 0; }
				/* Pose problème sur le pattern alert boxes !
				   => annule les padding des éléments  */
				> *:first-child { padding-top: 0; }
				> *:last-child:not(.flex-video) { padding-bottom: 0; }
			}
			&.active {
				> .title {
					background: #d5d5d5;
					z-index: 11;
					border-bottom: 0;
					background-color: white;
					a { color: #333333; }
				}
				> .content {
					display: block;
					position: relative;
				}
			}
		}
	}
}