@charset "utf-8";
// ==   Feuille de style genere pour le guide de style
// ========================================================================== //
@import "compass";
@import "../settings";
@import "../modules/reset";
@import "../modules/respond";
@import "../modules/images/bg";
@import "../modules/icons";
@import "../modules/fonts";
@import "../modules/typography";
@import "../modules/boutons/boutons";
@import "../modules/forms/forms";
@import "../modules/alert-boxes";
@import "../modules/grid";
@import "../modules/grid-block";
@import "../modules/panel";
@import "../modules/tabs";
@import "../modules/nav";
@import "../modules/fx/masques/masques";
@import "css/color-swatches";

@include reset();
@include init-global-fonts();
@include init-typo();
@include init-grid();
@include grid-block();
@include init-panel();
@include action-buttons();
@include default-form();
@include alert-boxes();
@include init-nav();

@include demo-typo();
@include color-swatches();
@include init-masques();
@include tabs();
@import "../modules/utils";
//@import "../vendor/jquery-ui";

@include respondTo(smallscreen) {
	#mdetect {
		display: block;
		height: 0;
	}
}
@include respondTo(mediumscreen) {
	#mdetect {
		display: none;
	}
}
@include respondTo(largemscreen) {
	#mdetect { display: none; }
}

body {
	margin: 0 auto;
}
@include respondTo(moresmallscreen) {
	body { width: 95%; }
}
//@import "../debug";
